* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.container {
  margin: auto;
  width: 80%;
}
/* First section */
.logo {
  height: 70px;
  border-right: 1px solid lightgrey;
  padding-right: 10px;
}

ul {
  position: flex;
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 30px 8px 30px 0;
}

a:link {
  color: grey;
  text-decoration: none;
}
/* Second section */
.banner {
  position: relative;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
}

.yoga {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.banner-titledescription {
  position: absolute;
  color: white;
  width: 50%;
  left: 50px;
  bottom: 80px;
}

h1 {
  line-height: 30px;
}

p {
  line-height: 20px;
}
/* Main */
main {
  background-color: #6397d0;
  height: 600px;
  margin: 10px 0;
}
/* First section */
.menu {
  background-color: #add8e6;
  height: 100px;
}
/* Second section */
.columns {
  background-color: #add8e6;
  height: 480px;
  float: left;
}
/* First column */
.left {
  width: calc( 50% / 3 );
  margin: 10px 10px 10px 0;
}
/* Second column */
.middle {
  width: 65.3%;
  margin: 10px 0;
}
/* Third column */
.right {
  width: calc( 50% / 3 );
  margin: 10px 0 10px 10px;
}

.content::after {
  content: "";
  display: table;
  clear: both;
}
/* Footer */
footer {
  background-color: #ad0afd;
  height: 100px;
}